.fokus-body-active {
  overflow-x: hidden;
}
.fokus-item-on {
  -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.8);
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.8);
}
.fokus-overlay {
  background: rgba(0,0,0,0.8);
  position: absolute;
  left: 0;
  z-index: 9995;
}
.fokus-tooltip {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.fokus-target {
  display: none;
}
.fokus-target-active {
  display: block;
  position: absolute;
  left: 50%;
  background: #fff;
  z-index: 9999;
  top: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  max-width: 300px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
}
.fokus-target-active:before {
  content: ' ';
  position: absolute;
  top: 12px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.fokus-target-active.fokus-target-active-left:before {
  right: -12px;
  border-left: 12px solid #fff;
}
.fokus-target-active.fokus-target-active-right:before {
  left: -12px;
  border-right: 12px solid #fff;
}
.fokus-target-active h1 {
  color: #000;
  font-family: "Arial", helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 20px;
  line-height: 1.8em;
  margin: 0;
}
.fokus-target-active p {
  color: #555;
  line-height: 1.8em;
  font-size: 12px;
  margin: 0 0 10px 0;
}
.fokus-target-active p a {
  color: #000;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
}
.fokus-target-active p a:hover {
  border-color: #333;
}
